@import 'lib/variables';
@import 'lib/mixins';

.pickr {
    position: relative;
    overflow: visible;
    transform: translateY(0); // Create local transform space

    * {
        box-sizing: border-box;
        outline: none;
        border: none;
        -webkit-appearance: none;
    }
}

.pickr .pcr-button {
    @include transparency-background;
    position: relative;
    height: 2em;
    width: 2em;
    padding: 0.5em;
    cursor: pointer;
    font-family: $font-family;
    border-radius: $border-radius-mid;
    background: $icon-x no-repeat center;
    background-size: 0;
    transition: all 0.3s;

    &::before {
        z-index: initial;
    }

    &::after {
        @include pseudo-reset;
        height: 100%;
        width: 100%;
        transition: background 0.3s;
        background: var(--pcr-color);
        border-radius: $border-radius-mid;
    }

    &.clear {
        background-size: 70%;

        &::before {
            opacity: 0;
        }

        &:focus {
            @include focus(var(--pcr-color));
        }
    }

    &.disabled {
        cursor: not-allowed;
    }
}

.pickr,
.pcr-app {

    * {
        box-sizing: border-box;
        outline: none;
        border: none;
        -webkit-appearance: none;
    }

    input,
    button {
        &:focus,
        &.pcr-active {
            @include focus(var(--pcr-color));
        }
    }

    .pcr-palette,
    .pcr-slider {
        transition: box-shadow 0.3s;

        &:focus {
            @include focus(rgba(black, 0.25));
        }
    }
}

.pcr-app {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 10000;
    border-radius: 0.1em;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s 0.3s;
    font-family: $font-family;
    box-shadow: $box-shadow-app;
    left: 0;
    top: 0;

    &.visible {
        transition: opacity 0.3s;
        visibility: visible;
        opacity: 1;
    }

    .pcr-swatches {

        // Flex fallback
        display: flex;
        flex-wrap: wrap;
        margin-top: 0.75em;
        margin-bottom: 0.75em;

        &.pcr-last {
            margin: 0;
        }

        @supports (display: grid) {
            display: grid;
            align-items: center;
            grid-template-columns: repeat(auto-fit, 1.75em);
        }

        > button {
            @include transparency-background(6px);
            font-size: 1em;
            position: relative;
            width: calc(1.75em - 5px);
            height: calc(1.75em - 5px);
            border-radius: 0.15em;
            cursor: pointer;
            margin: 2.5px;
            flex-shrink: 0;
            justify-self: center;
            transition: all 0.15s;
            overflow: hidden;
            background: transparent;
            z-index: 1;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: var(--pcr-color);
                border: 1px solid rgba(black, 0.05);
                border-radius: 0.15em;
                box-sizing: border-box;
            }

            &:hover {
                filter: brightness(1.05);
            }

            &:not(.pcr-active) {
                box-shadow: none;
            }
        }
    }

    .pcr-gradient {
        position: relative;
        width: 100%;
        height: 1.5em;
        margin: 0.5em 0;
        border-radius: $border-radius-mid;
        background: linear-gradient(to right, var(--pcr-color), var(--pcr-color));
        box-shadow: $box-shadow-app;
        overflow: hidden;

        .pcr-gradient-inner {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, var(--pcr-color), var(--pcr-color));
            transition: all 0.3s;
        }
    }

    .pcr-interaction {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 -0.2em 0 -0.2em;

        > * {
            margin: 0 0.2em;
        }

        input {
            letter-spacing: 0.07em;
            font-size: 0.75em;
            text-align: center;
            cursor: pointer;
            color: $palette-darkgray;
            background: $palette-snow-white;
            border-radius: $border-radius-mid;
            transition: all 0.15s;
            padding: 0.45em 0.5em;

            &:hover {
                filter: brightness(0.975);
            }

            &:focus {
                @include focus();
            }
        }

        .pcr-result {
            color: $palette-darkgray;
            text-align: left;
            flex: 1 1 8em;
            min-width: 8em;
            transition: all 0.2s;
            border-radius: $border-radius-mid;
            background: $palette-snow-white;
            cursor: text;

            &::selection {
                background: $palette-cloud-blue;
                color: #fff;
            }
        }

        .pcr-type.active {
            color: #fff;
            background: $palette-cloud-blue;
        }

        .pcr-save,
        .pcr-cancel,
        .pcr-clear {
            color: #fff;
            width: auto;
        }

        .pcr-save,
        .pcr-cancel,
        .pcr-clear {
            color: #fff;

            &:hover {
                filter: brightness(0.925);
            }
        }

        .pcr-save {
            background: $palette-cloud-blue;
        }

        .pcr-clear,
        .pcr-cancel {
            background: $palette-soft-red;

            &:focus {
                @include focus(rgba($palette-soft-red, 0.75));
            }
        }
    }

    .pcr-color-gradient {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        margin: 0 0 0.5em 0;
        padding: 0.75em;
        background-color: #f1f3f4;
        border-radius: $border-radius-mid;

        &[data-gradient="false"] {
            .pcr-gradient-control,
            .pcr-gradient-colors .pcr-gradient-color:last-child {
                display: none;
            }
        }

        .pcr-gradient-preview {
            width: 100%;
            height: 2em;
            margin: 0.5em 0;
            border-radius: $border-radius-mid;
            @include transparency-background;
            overflow: hidden;
        }

        .pcr-gradient-control{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0.5em;

            .pcr-gradient-type, .pcr-gradient-angle {

                select, input{
                    font-size: 0.75em;
                    color: $palette-darkgray;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 0.07em;
                    background: $palette-snow-white;
                    border-radius: $border-radius-mid;
                    padding: 0.45em 0.5em;
                    text-align: center;
                    cursor: pointer;

                    &:hover {
                        filter: brightness(0.975);
                    }

                    &:focus {
                        @include focus();
                    }
                }
            }
        }

        .pcr-gradient-label{
            font-size: 0.75em;
            color: $palette-darkgray;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.07em;
        }

        .pcr-gradient-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1em;
        }

        .pcr-gradient-heading {
            font-size: 0.75em;
            color: $palette-darkgray;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.07em;
        }

        .pcr-gradient-switch {
            position: relative;
            display: inline-block;
            width: 2.6em;
            height: 1.4em;

            input {
                opacity: 0;
                width: 0;
                height: 0;

                &:checked + .pcr-gradient-slider {
                    background-color: $palette-cloud-blue;

                    &:before {
                        transform: translateX(1.2em);
                    }
                }

                &:focus + .pcr-gradient-slider {
                    box-shadow: 0 0 1px $palette-cloud-blue;
                }
            }

            .pcr-gradient-slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                transition: .3s;
                border-radius: 1.4em;

                &:before {
                    position: absolute;
                    content: "";
                    height: 1em;
                    width: 1em;
                    left: 0.2em;
                    bottom: 0.2em;
                    background-color: white;
                    transition: .3s;
                    border-radius: 50%;
                }
            }
        }

        .pcr-gradient-colors {
            .pcr-gradient-color-container {
                display: flex;
                gap: 0.5em;
                margin-top: 0.3em;
            }

            .pcr-gradient-color {
                @include transparency-background(6px);
                position: relative;
                width: 2em;
                height: 2em;
                border-radius: $border-radius-mid;
                cursor: pointer;
                transition: all 0.15s;
                overflow: hidden;

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: var(--pcr-color);
                    border: 1px solid rgba(black, 0.05);
                    border-radius: $border-radius-mid;
                }

                &:hover {
                    filter: brightness(1.05);
                }

                &.active {
                    box-shadow: 0 0 1px $palette-cloud-blue;
                }
            }
        }
    }

    .pcr-selection {

        .pcr-picker {
            position: absolute;
            height: 18px;
            width: 18px;
            border: 2px solid #fff;
            border-radius: 100%;
            user-select: none;
        }

        .pcr-color-palette,
        .pcr-color-chooser,
        .pcr-color-opacity {
            position: relative;
            user-select: none;
            display: flex;
            flex-direction: column;
            cursor: grab;
            cursor: -moz-grab;
            cursor: -webkit-grab;

            &:active {
                cursor: grabbing;
                cursor: -moz-grabbing;
                cursor: -webkit-grabbing;
            }
        }
    }
}
